body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: lightgrey;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #77D4FC;
  padding: 15px 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  height: 50px;
}

.nav-links ul {
  font: bold;
  list-style: none;
  display: flex;
  gap: 30px;
  align-items: flex-end;
  padding: 0;
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
  color: #007bff;
}

.login-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #0056b3;
}

.search-bar {
  justify-content: center;
  align-items: center;;
  width: 375px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 25px;
  outline: none;
  transition: all 0.3s ease-in-out;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  display: block;
}

.search-bar:focus {
  border-color: #007bff;
  box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
  background-color: white;
}

.search-icon {
  position: absolute;
  right: 625px; 
  margin-top: -50px;
  color: gray;
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  .header {
    flex-direction: column;
    align-items: center;
  }
  
  .nav-links ul {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .user-info {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .profile-pic {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    object-fit: cover;
  }
}
